.navbar-header {
	height: 80px;
}

#header-nav {
	background-color: lightgray;
}

h1 {
	margin-top: 0px;
	padding: 0px;
	font-size: 36px;
}

#main-content h2 {
	font-size: 30px;
	margin-top: 25px;
	margin-bottom: 20px;
}

#main-content div {
	padding: 15px 20px 15px;
	height: 1000px;
	background-color: lightgray;
}

#main-content h3 {
	font-size: 24px;
	margin-bottom: 15px;
}
 

#nav-list {
	font-size: 18px;
	margin-top: 5px;
	margin-right: 10px;
}